@media only screen and (max-width: 700px) {

    .image-flexitem {

        display: none;
    }
    .navlist {
        
        display: none;
    }


    

    .subscribe-container form #bt {

        margin-top: 30px;
    }
}