@media only screen and (max-width: 800px) {

    .image-flexitem {

        display: none;
    }
    .navlist {
        
        display: none;
    }


    .subscribe-container form #bt {

        margin-top: 30px;
    }

        .image-container {

            text-align: center;


        }
    .button-container {
        text-align: center;
    }
}