@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,400&display=swap');

* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root { 

    --universal-font: 'Roboto', sans-serif;
    --universal-color: #FF0000;
}
.nav-container { /* navbar starts */
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    font-family: var(--universal-font);

    
}

.navlist {

    margin-top: 40px;
    font-family: var(--universal-font);
}

.navlist ul li {
    
    list-style: none;
    display: inline;
    margin-left: 50px;
    opacity: 0.7;
    cursor: pointer;   
}


.button-container {

  margin-top: 40px;
}
#signupbutton {
 border-radius: 50px ;
 -webkit-border-radius: 50px ;
 -moz-border-radius: 50px ;
 -ms-border-radius: 50px ;
 -o-border-radius: 50px ;
 background-color: var(--universal-color);
 color: #fff;
 width: 100px;
 height: 35px;
border-style: none;
cursor: pointer;
}

#siginbutton {

    border-radius: 50px ;
    -webkit-border-radius: 50px ;
    -moz-border-radius: 50px ;
    -ms-border-radius: 50px ;
    -o-border-radius: 50px ;
    background-color: #fff;
    border: solid var(--universal-color) 1px;
    color: var(--universal-color);
    width: 100px;
    height: 35px;
    cursor: pointer;
}

/* features starts */

.features-container {

    width: 100%;
    margin-top: 50px;
}