@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {

    --universal-font: 'Roboto', sans-serif;
    --universal-color: #FF0000;
}
.navbar {  /* Navbar start */

    display: flex;
    justify-content: space-evenly;

}

.listcontainer {

margin-top: 40px;
margin-right: 400px ;

}

.listcontainer li {

    display: inline;
    margin-left: 40px;
    font-family: var(--universal-font);
    cursor: pointer;
    
}

.listcontainer li:hover {

    opacity: 0.6;
}

.buttoncontainer {

    margin-left: 600px;
    --buttonwidth: 100px;
    --buttonheight: 35px;
    position: relative;
    bottom: 25px;
    
   

}

#signinbutton{
    width: var(--buttonwidth);
    height: var(--buttonheight);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-style: hidden;
    background-color: var(--universal-color);
    color: #fff;
    cursor: pointer;
}

#signupbutton {

    width: var(--buttonwidth);
    height: var(--buttonheight);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border: solid 1px  var(--universal-color);
    background-color: #fff;
    color: var(--universal-color);
    cursor: pointer;

    
}

#signinbutton:hover {

    background-color:#fff;
    color:  var(--universal-color);
    border: solid  var(--universal-color) 1px;
}

#signupbutton:hover {

    background-color:  var(--universal-color);
    color:#fff;
}

.introcontainer {

    display: flex;
    justify-content: space-evenly;
}